.button 
{
    background-color: #89C2D9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.w3-container img
{
	width: 20px;
	height: 17px;
}

.w3-twothird img
{
	width: 50px;
	height: 50px;
}