<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GameCenter</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/GameCenter</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>AdminProductControl</servlet-name>
    <servlet-class>control.AdminProductControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GeneralProductControl</servlet-name>
    <servlet-class>control.GeneralProductControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrdiniControl</servlet-name>
    <servlet-class>control.OrdiniControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserControl</servlet-name>
    <servlet-class>control.UserControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductControl</servlet-name>
    <url-pattern>/AdminProductControl</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GeneralProductControl</servlet-name>
    <url-pattern>/GeneralProductControl</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>OrdiniControl</servlet-name>
    <url-pattern>/OrdiniControl</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserControl</servlet-name>
    <url-pattern>/UserControl</url-pattern>
  </servlet-mapping>
</web-app>